<!DOCTYPE html>
<html>
<head>
  <title>IosLinkRedirect</title>
  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  
</head>
<body>

<%= yield :javascript_includes %>

</body>
</html>
